.c-modal{
	background-color: rgba(0,0,0,0.85);
}

.c-modal .modal-dialog .modal-content{
	border-radius: 0;
	border:none;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.24);
}
.c-modal .modal-dialog .modal-content .modal-header{
	border-bottom: 0;
	padding:0;
}

.c-modal .modal-dialog.modal-img .modal-content .modal-header{
	overflow: hidden;
}

.c-modal .modal-dialog.modal-img .modal-content .modal-header img{
	float:right;
}


.c-modal .modal-dialog .modal-content .modal-header button.close{
	color: #fff;
    background-color: #008acc;
    padding: 0.5em;
    margin: 0 15px 0 0;
    opacity: 1;
    font-weight: 400;
	text-shadow:none;
    font-size: 16px;
    transition: background-color 0.3s ease-out;
}

.c-modal .modal-dialog.modal-img .modal-content .modal-header button.close{
	position: absolute;
    right: 0;
}

.c-modal .modal-dialog .modal-content .modal-header button.close .sr-only{
	height: inherit;
    width: inherit;
    position: initial;
    display: inline-block;
	max-width: 0;
	margin:-2px;
	line-height: 14px;
	transition: max-width 0.3s ease-out;
}
.c-modal .modal-dialog .modal-content .modal-header button.close:hover{
	background-color: #00456a;
}
.c-modal .modal-dialog .modal-content  .modal-header button.close:hover .sr-only{
	max-width: 50px;

}

.c-modal .modal-dialog .modal-content .modal-footer{
	border-top: 0;
	text-align: center;
}