<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>C-Modal</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 		<link rel="stylesheet" href="../../css/common.css">
		<link rel="stylesheet" href="c-modal.css">

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
  </head>

    <body>
    	
    	<div class="container-fluid">
    		<div class="row">
    			<div class="col-md-12">
    				<h1>Modal</h1>
    				<p><!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cModalSm">
					  Launch small modal
					</button></p>

    				<p><!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cModal">
					  Launch regular modal
					</button></p>

					<p><!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#cModalLg">
					  Launch large modal
					</button></p>


					<!-- Modal regular -->
					<div class="c-modal modal fade" id="cModalSm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog modal-sm" role="document">
					    <div class="modal-content">

					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i> <span class="sr-only">close</span></button>
					        <h4 class="modal-title sr-only">Modal title</h4>
					      </div>

					      <div class="modal-body">
					        	<h2>Small Modal</h2>
					        	<p>This is a small modal!</p>
					      </div>

					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>

					    </div>
					  </div>
					</div>

					<!-- Modal regular -->
					<div class="c-modal modal fade" id="cModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">

					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i> <span class="sr-only">close</span></button>
					        <h4 class="modal-title sr-only">Modal title</h4>
					      </div>

					      <div class="modal-body">
					        	<h2>Regular Modal</h2>
					        	<p>This is a regular modal!</p>
					      </div>

					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>

					    </div>
					  </div>
					</div>

					<!-- Modal Large -->
					<div class="c-modal modal fade" id="cModalLg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog modal-lg" role="document">
					    <div class="modal-content">

					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i> <span class="sr-only">close</span></button>
					        <h4 class="modal-title sr-only">Large Modal Title</h4>
					      </div>

					      <div class="modal-body">
					        	<h2>Large Modal</h2>
					        	<p>This is a large modal!</p>
					      </div>

					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>

					    </div>
					  </div>
					</div>
    			</div>
    		</div>
    	</div>

    	<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js></script>

    	<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

		<script src="https://use.fontawesome.com/fef2d5dc67.js"></script>
    </body>
</html>